{{> doc-head }}
<body>
    {{> header }}

    <main>
        {{{ contents }}}
    </main>
	<br/>
	
	<div class="version-display"></div>
	
    {{> footer }}
    
    <script src="/assets/js/version.js"></script>
    	
</body>
</html>
